<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="2004 Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name=".Register"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".AnalogClockActivity"
            android:exported="true" />
        <activity
            android:name=".BallActivity"
            android:exported="true" />
        <activity
            android:name=".DaysActivity"
            android:exported="true" />
        <activity
            android:name=".DigitsActivity"
            android:exported="true" />
        <activity
            android:name=".DigitsBackwardActivity"
            android:exported="true" />
        <activity
            android:name=".DirectionsActivity"
            android:exported="true" />
        <activity
            android:name=".MonthsActivity"
            android:exported="true" />
        <activity
            android:name=".MultiplicationActivity"
            android:exported="true" />
        <activity
            android:name=".SeasonActivity"
            android:exported="true" />
        <activity
            android:name=".SimilarPicturesActivity"
            android:exported="true" />
        <activity
            android:name=".SpellActivity"
            android:exported="true" />
    </application>

</manifest>